<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/laboratorija?zeroDateTimeBehavior=CONVERT_TO_NULL&amp;serverTimezone=UTC</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">Wedaddracic1984</property>
    <mapping class="labosns.Lokaliteti"/>
    <mapping class="labosns.Glavni"/>
    <mapping class="labosns.GodisnjiOdmori"/>
    <mapping class="labosns.SlobodniDani"/>
    <mapping class="labosns.LabosNS"/>
    <mapping class="labosns.RadnaMjesta"/>
    <mapping class="labosns.Nedelje"/>
    <mapping class="labosns.Subote"/>
    <mapping class="labosns.Zaposlenici"/>
  </session-factory>
</hibernate-configuration>
